@import "tailwindcss";

@font-face {
    font-family: "m-reguler";
    src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "m-medium";
    src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "m-semibold";
    src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "m-bold";
    src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
}

@theme {
    --font-m-reguler: "m-reguler", "times ew roman";
    --font-m-medium: "m-medium", "times ew roman";
    --font-m-semibold: "m-semibold", "times ew roman";
    --font-m-bold: "m-bold", "times ew roman";

    --color-base-color: #EFF2FF;

    --color-primary-color: #4D55CC;
    --color-secondary-color: #211C84;
    --color-primary-foreground: #B5A8D5;
    --color-secondary-foreground: #7A73D1;

    --color-text-color: #ffffff;
    --color-text-foregound: #000000;
}